
.featured-heading{
    text-align:center;
    text-transform: uppercase;
    margin-top:2rem;
}

.featured-grid{
    display:grid;
    grid-row-gap:4rem;
    // grid-column-gap:15px;
    // grid-template-columns:repeat(auto-fit, minmax(410px,1fr));
    // margin:0 auto;
    grid-template-columns: repeat(3, 1fr);
    margin-left:10rem;
    margin-right:10rem;
    padding-top:1rem;
    justify-items: center;
    // padding-right:1rem;
    
    p{
        text-transform: capitalize;
    }
    .featured-p{
        margin-top:0 ;
    }
  
}
// .featured-grid-a{
//     position:absolute;
//     top:50%;
//     left:2rem;
// }

.productImg{
    object-fit:cover;
    width:100%;
    height:28.5rem;
}
// .hero-image{
//     object-fit:cover;
//     width:100%;
//     height:87vh;
// }
// .hero-image-container{
//     width:100%;
// }
.product-container{
    height:28.5rem;
    width:21rem;
    position:relative;
    background-color:black;
    
}
.react-icons-heart{
    font-size:25px;
    position:absolute;
    top:2%;
    right:2%;
    cursor: pointer;
    animation: all .3s ease-in-out;

    &:hover{
        font-size:28px;
    }
}
@media (max-width:599px){
    .featured-heading{
        font-size:1.3rem;
    }
    .featured-grid{
        display:flex;
        align-items:center;
        justify-content: center;
        flex-direction: column;
        // grid-template-columns: 1fr;
        padding-left:0rem;
        padding-right:0rem;
        margin-left:0rem;
        margin-right:0rem;

        p{
            font-size:0.9rem;
        }
        
    }
    // .product-container{
    //    margin-bottom:4rem; 
    // }
    .product-container{
        margin-bottom:3rem; 
        transform: scale(0.9);
        background-color:white !important;
    }
}
@media (min-width:600px){
    .featured-grid{
        display:flex;
        align-items:center;
        justify-content: center;
        flex-direction: column;
        padding-left:0rem;
        padding-right:0rem;
        margin-left:0rem;
        margin-right:0rem;
        
    }
    .featured-heading{
        font-size:1.3rem;
    }
    .product-container{
        margin-bottom:4rem; 
     }
}
@media (min-width:900px){
    .featured-grid{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        margin-left:5rem;
        margin-right:5rem;
    }
    .product-container{
        margin-bottom:0rem; 
        transform: scale(0.9);
        background-color:white !important;
    }
}
@media (min-width:1200px){
    .featured-grid{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        margin-left:2rem;
        margin-right:2rem;
    }
    .product-container{
        margin-bottom:0rem; 
        transform: scale(1);
        background-color:white !important;
    }
    //  .productImg{
    //    transform: scale(0.9);
    // }
}
@media (min-width:1500px){
    .featured-heading{
        font-size:1.5rem;
    }
    .featured-grid{
        padding-top:1rem;
        margin-left:10rem;
        margin-right:10rem;
        grid-template-columns: repeat(3, 1fr);
    }
    .product-container{
        margin-bottom:0rem; 
        transform: scale(1);
        background-color:white !important;
    }
}



