.login-container, .register-container{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:5rem;

   
}

.form-container{
    margin:1rem 30rem;

    h3{
        text-transform: uppercase;
        text-align: center;
        font-size:1.5rem;
    }
    
    .form-group{
        p{
            float:right;
            color:rgba(255, 0, 0, 0.897);
            font-size:0.8rem;
        }
        label{
            font-weight:bold;
            font-size:0.9rem;
        }
    }
    .login-error{
        color:rgba(255, 0, 0, 0.897);
        font-size:0.8rem;
    }
}
.link-account{
    
    text-decoration:none !important;
    color:rgba(0, 0, 0, 0.836);
    font-weight:bold;
    
}
@media (max-width:599px){
    .form-container{
        margin-left:3rem;
        margin-right:3rem;

        h3{
            font-size:1.2rem;
        }
        .form-group{
            p{
                float:right;
                font-size:0.7rem;
            }
            label{
                font-size:0.8rem;
            }
        }
        .login-error{
            font-size:0.7rem;
        }
        button{
            font-size:1rem;
        }
    }  
}
@media (min-width:600px){
    .form-container{
        margin-left:8rem;
        margin-right:8rem;
    }
}
@media (min-width:900px){
    .form-container{
        margin-left:15rem;
        margin-right:15rem;
    }  
}
@media (min-width:1200px){
    .form-container{
        margin-left:28rem;
        margin-right:28rem;
    }  
}
@media (min-width:1500px){
    .form-container{
        margin-left:30rem;
        margin-right:30rem;
    }  
}

