.nav-info{
    display:flex;
    justify-content: space-around;
    align-items:center;
    height:4vh;
    z-index:2;
    border-bottom:1px solid rgba(128, 128, 128, 0.486);
    // -moz-box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.486);
	// -webkit-box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.486);
    // box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.486);
   
    p{
        color:black;
        // text-align:center;
        font-size:0.7rem;
        padding-top:0.9rem;
        padding-left:2.5rem;
        text-transform: uppercase;
        font-weight:bold;
    }
}

.navBar{
    height:7vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
    -moz-box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.486);
	-webkit-box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.486);
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.486);
    font-family: 'Montserrat', sans-serif;

    .navMenu{
        font-size:.8rem;
        font-weight: 600;
        cursor:pointer;
        // @include mediaQuery(phone){
            
        // }
        // @include mediaQuery(tablet){
            
        // }
        // @include mediaQuery(tablet-portrait-up){

        // }
        // @include mediaQuery(tablet-landscape-up){

        // }
        // @include mediaQuery(desktop-up){
            
        // }
        // @include mediaQuery(big-desktop-up){

        // }
        .ioMenu{
            font-size:25px;
            // @include mediaQuery(phone){
            
        // }
        // @include mediaQuery(tablet){
            
        // }
        // @include mediaQuery(tablet-portrait-up){

        // }
        // @include mediaQuery(tablet-landscape-up){

        // }
        // @include mediaQuery(desktop-up){
            
        // }
        // @include mediaQuery(big-desktop-up){

        // }
        }
    }

    .navCart{
        text-decoration: none;
        cursor:pointer;
        color:black;
        font-size:.8rem;
        font-weight: 600;
        .aiCart{
            font-size:25px;
        }

    }

}
.navBar > div{
    padding:0 30px;
   
}
.navIcons{
    display:flex;
    // justify-content:space-evenly;
}
.navLogo{
    a{
        color:black;
        text-decoration:none;
        letter-spacing:4px;
        font-weight: 600;
        padding-left:0.8rem;
    }
}
.sideBar-opened{
    position:fixed;
    top:0;
    left:-100%;
    width:30%;
    height:100vh;
    background: rgba(0, 0, 0, 0.973);
    z-index:999;
    animation:slide-open 0.75s forwards;
   
   
    
   ul{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    padding-top:10rem;
      li{
        margin-bottom:.5rem;
        font-size:1.2rem;
        list-style: none;

      }
    }
    .second-ul{
        li{
          margin-bottom:.5rem;
          font-size:1.2rem;
          list-style: none;
  
        }
    }
    
    .react-links{
        color:white;
        text-transform: uppercase;
        text-decoration:none;
        transition:all .3s ease-out;
        display:block;
        cursor: pointer;

        &:hover{
            color:#ff6600;

           
        }
    }
    .nav-close{
        float:right;
        color:white;
        .fa-times{
           
            color:white;
            cursor: pointer;
            font-size:25px;
            margin-top:1rem;
            &:hover{
            color:#ff6600;

           
          }
        }
       
    }
    .react-icons-ai-outline{
        color:white;
        font-size:25px;
        cursor: pointer;
        &:hover{
            color:#ff6600;
        }
    }
    .sideBar-close{
        float:right;
        padding-top:1rem;
        padding-right:0.5rem;
    }
}
.sideBar-closed{
    position:fixed;
    top:0;
    left:0;
    width:30%;
    height:100vh;
    background: rgba(0, 0, 0, 0.973);
    z-index:999;
    animation:slide-close 2.5s forwards;
   
   
    
   ul{
        display:flex;
        align-items:center;
        justify-content: center;
        flex-direction: column;
        padding-top:10rem;
      li{
        margin-bottom:.5rem;
        font-size:1.2rem;
        list-style: none;

      }
    }
    .second-ul{
        li{
          margin-bottom:.5rem;
          font-size:1.2rem;
          list-style: none;
  
        }
    }
    
    .react-links{
        color:white;
        text-transform: uppercase;
        text-decoration:none;
        transition:all .3s ease-out;
        display:block;
        cursor: pointer;

        &:hover{
            color:#ff6600;

           
        }
    }
    .nav-close{
        float:right;
        color:white;
        .fa-times{
           
            color:white;
            cursor: pointer;
            font-size:25px;
            margin-top:1rem;
            &:hover{
            color:#ff6600;

           
          }
        }
       
    }
    .react-icons-ai-outline{
        color:white;
        font-size:25px;
        cursor: pointer;
        &:hover{
            color:#ff6600;
        }
    }
    .sideBar-close{
        float:right;
        padding-top:1rem;
        padding-right:0.5rem;
    }
}



@keyframes slide-open{
    100%{left:0}
}
@keyframes slide-close{
    100%{left:-100%}
}
//mobile devices
@media (max-width:599px){
    .navBar > div{
        padding:0 8px;
    }
    .navBar{
        overflow-x: hidden !important;
        .navMenu{
            span{
                display:none;
            }
            .ioMenu{
                font-size:25px;
            }
        }
        .navCart{
            font-size:.5rem;
            span{
                display:none;
            }
            .aiCart{
                font-size:19px;
            }
    
        } 
    }
    .navLogo{
        a{
           padding-left:1.2rem;
        }
    }
    .sideBar-opened{
        width:70%;
        ul{
            li{
                font-size:1rem;
            }
        }
        .second-ul{
            li{
                font-size:1rem;
            }
        }
    }
    .sideBar-closed{
        width:70%;
        animation:slide-close 1.2s forwards;
        ul{
            li{
                font-size:1rem;
            }
        }
        .second-ul{
            li{
                font-size:1rem;
            }
        }
    }
    

}
@media (min-width:600px){
    .sideBar-opened{
        width:50%;
        ul{
            li{
                font-size:1rem;
            }
        }
        .second-ul{
            li{
                font-size:1rem;
            }
        }
    }
    .sideBar-closed{
        width:50%;
        animation:slide-close 1.2s forwards;
        ul{
            li{
                font-size:1rem;
            }
        }
        .second-ul{
            li{
                font-size:1rem;
            }
        }
    }
    
}
@media (min-width:900px){
   
}
@media (min-width:1200px){
    .sideBar-opened{
        width:30%;
        ul{
            li{
                font-size:1.2rem;
            }
        }
        .second-ul{
            li{
                font-size:1.2rem;
            }
        }
    }
    .sideBar-closed{
        width:30%;
        animation:slide-close 2.5s forwards;
        ul{
            li{
                font-size:1.2rem;
            }
        }
        .second-ul{
            li{
                font-size:1.2rem;
            }
        }
    }
}
@media (min-width:1500px){
   
}

