.cartItem-heading{
    border-top:1px solid rgba(0, 0, 0, 0.363);
    padding-top:1rem;
    padding-bottom:0.2rem;
    h5{
        font-size:1rem;
        font-weight:bold;
    }
}

.cartItems{
    display:flex;
    align-items:center;
    justify-content: space-between;
    width:100%;
    border-bottom:1px solid rgba(0, 0, 0, 0.363);
    padding-bottom:1rem;
    padding-top:1rem;
    h5{
        font-size:0.9rem;
        text-transform: capitalize;
    }
   
    .cartItem-image-container{
        height:170px;
        width:25%;
        .cartItem-image{
            object-fit: contain;
            width:100%;
            height:100%;
        }
    }
    .cartItem-price, .cartItem-qty, .cartItem-total{
        display:flex;
        align-items:center;
        // justify-content:space-between;
    }
    .cartItem-info{
        height:155px;
        width:75%;
    }
}
.stripe-payment-button{
    border:1px solid rgba(0, 0, 0, 0.89);
    border-radius:5px;
    padding:0.2rem 3rem;
    background:rgba(0, 0, 0, 0.89);
    color:white;
    &:hover{
        border:2px solid black;
        background:black;
    }
}
.stripe-card{
    font-size:1rem;
    font-family: 'Montserrat', sans-serif;
}

.card-payment-options{
    display:flex;
    // justify-content: space-around;
    align-items:center;

    .visa-image-container,.mastercard-image-container{
        border-radius:50%;
        height:50px;
        width:50px;
    }
    .visa-image, .mastercard-image{
        object-fit:contain;
        width:100%;
        height:100%;
    }
   
    p{
        font-size:0.8rem;
        cursor:pointer;
    }
    .card-payment-text{
        height:50px;
        // width:50px;
    }
}
@media (min-width: 0px) and (max-width: 767px) {
  
      .cartItems{
          .cartItem-image-container{
            width:27%;
          }
      }  
    
  
}
  
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    .cartItems{
        .cartItem-image-container{
          width:50% !important;
        
        }
        .cartItem-info{
            width:50% !important;
        }
    } 
 
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
    .cartItems{
        .cartItem-image-container{
          width:40% !important;
        
        }
        .cartItem-info{
            width:60% !important;
        }
    } 
  
}
  
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1399px) {
    .cartItems{
        .cartItem-image-container{
          width:30% !important;
        
        }
        .cartItem-info{
            width:70% !important;
        }
    }
 }
@media (min-width: 1400px) and (max-width: 1500px) {
    .cartItems{
        .cartItem-image-container{
          width:30% !important;
        
        }
        .cartItem-info{
            width:70% !important;
        }
    }
 }