.side-cart-wrapper{
    position: fixed;
    top:0;
    right:0;
    height:100vh;
    width:100%;
    background:rgba(0, 0, 0, 0.651);
    z-index:2;
    display:flex;
    justify-content:flex-end;
    align-items: center;
    // overflow-y: scroll;
 

    h4{
        font-size:1rem;
    }
    .side-cart-content{
        width:28%;
        top:0;
        left:0;
        height:100vh;
        background:white;
        overflow-y:scroll;
        box-shadow: 0px 5px 5px white;
    }
}

.side-cart-close{
    float:right;
    cursor:pointer;
}
.side-cart-first-section{
    display:flex;
    justify-content:space-around;
    align-items: center;
    padding-bottom:2rem;
    padding-top:1rem;
    border-bottom:1px solid rgba(0, 0, 0, 0.322);
 
  
    
    // p{
    //     text-transform: capitalize;
    // }
    // .featured-p{
    //     margin-top:0 ;
    // }
    .side-cart-image{
         object-fit:contain;
         width:130px;
         height:180px;
    }
    .side-cart-image-container{
        width:130px;
    }
   
}
.side-cart-text{
    height:180px;
    width:130px;
}
.link-button{
    border:1px solid rgba(0, 0, 0, 0.89);
    margin-left:1rem;
    margin-right:1rem;
    margin-bottom:2rem;
    margin-top:2rem;
    text-align:center;
    padding:0.4rem 0;
    background:rgba(0, 0, 0, 0.89);
    .link-text{
        color:white;
        text-decoration:none;
        cursor:pointer;
    }
  
}
.link-bag-button{
    border:1px solid rgba(0, 0, 0, 0.788);
    margin-left:1rem;
    margin-right:1rem;
    margin-bottom:2rem;
    margin-top:2rem;
    text-align:center;
    padding:0.4rem 0;
    background:rgba(0, 0, 0, 0.788);
    .link-text{
        color:white;
        text-decoration:none;
        cursor:pointer;
    }
  
}
.aiWishlist, .aiDelete{
    font-size:25px;
    color:black;
    cursor: pointer;
}
.side-cart-info, .side-cart-info-2{
    padding-top:8rem;
    text-align:center;
}
.side-cart-info-2{
    text-align:center;
}
.bold-total{
    font-weight:bold;
}
@media (max-width:599px){
    .side-cart-wrapper{
        overflow-x: hidden !important;
        .side-cart-content{
            width:80%;
        }
        h4, .side-cart-price{
            font-size:0.8rem;
        }
        .link-text{
            font-size:0.9rem;
        }
        .side-cart-totals{
            font-size:0.9rem;
        }
        .aiDelete{
            font-size:20px;
           
        }
        .side-cart-close{
            font-size:0.8rem;
        }
        .side-cart-bag{
            font-size:0.8rem;
            
        }
    }
}
@media (min-width:600px){
    
    .side-cart-wrapper{
        .side-cart-content{
            width:50%;
        }
    }
}
@media (min-width:900px){
    .side-cart-wrapper{
        .side-cart-content{
            width:40%;
        }
    }
}
@media (min-width:1200px){
    .side-cart-wrapper{
        .side-cart-content{
            width:30%;
        }
    }
}
@media (min-width:1500px){
    .side-cart-wrapper{
        .side-cart-content{
            width:28%;
        }
    }
}

// @media (min-width:0px) and (max-width:370px){
//     .side-cart-wrapper{
//         .side-cart-content{
//             width:80%;
//         }
//         h4, .side-cart-price{
//             font-size:0.8rem;
//         }
//         .link-text{
//             font-size:0.9rem;
//         }
//         .side-cart-totals{
//             font-size:0.9rem;
//         }
//         .aiDelete{
//             font-size:20px;
           
//         }
//         .side-cart-close{
//             font-size:0.8rem;
//         }
//         .side-cart-bag{
//             font-size:0.8rem;
            
//         }
//     }
    
// }
// @media (min-width: 371px) and (max-width: 767px) {
  
//      .side-cart-wrapper{
//          .side-cart-content{
//              width:60%;
//          }
//      }
    
  
// }
  
// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) and (max-width: 991px) {
//     .side-cart-wrapper{
//         .side-cart-content{
//             width:40%;
//         }
//     }
   
// }
// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) and (max-width: 1199px) {
//     .side-cart-wrapper{
//         .side-cart-content{
//             width:40%;
//         }
//     }
   
  
// }
  
// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { }