.thank-you-message{
    text-align: center;
    font-weight:bold;
    font-size:1.5rem;
    padding-top:4rem;
}
.more-shopping{
    text-align: center;
    font-size:1.2rem;
    padding-bottom:4rem;
}

@media (min-width: 0px) and (max-width: 767px) {
  
        
    
  
}
  
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
   
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
   
  
}
  
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }